$primary: orange;
$secondary: orangered;
$NavColour: rgb(19, 61, 69);
$titlefont: dirtybrush;

@font-face{
  font-family: roboto-regular;
  src: url('Roboto-Regular.ttf');
}
@font-face{
  font-family: roboto-light;
  src: url('Roboto-Light.ttf');
}
@font-face{
  font-family: roboto-black;
  src: url('Roboto-Black.ttf');
}
@font-face{
  font-family: roboto-bold;
  src: url('Roboto-Bold.ttf');
}

@font-face {
  font-family: dirtybrush;
  src: url(./DirtyBrush-BZYV.ttf);
}

body{
  text-align: center;
  background: repeating-linear-gradient(black, $NavColour, black 300vh);
  min-height: 100vh;
}
//The Navbar
.TheNavbar{
  background-color: $NavColour;
  position: sticky;
  top: 0;
  z-index: 1100;
  a, p{
    font-family: roboto-black;
    color: $secondary;
    font-weight: 900;
    margin: auto;
    &:hover{
      color: lighten($secondary, 30%)
    }
    &::after{
      color: $secondary;
    }
  }
  .slogan{
    font-size: 45px;
    font-family: $titlefont;
    color: $primary;
    margin-left: 20px;
  }
}
//Home
.home{
  background-image: url('/../assets/festival1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .btn{
    background-color: rgba(0, 0, 0, 0.7);
    margin: 200px 0 -70px 0;
    border-radius: 30px;
  }
  .title{
    padding: 40px;
    font-size: 45px;
    font-family: $titlefont;
    color: $primary;
    box-shadow: 0 0 100px rgb(255, 239, 199);
  }
  .lucky{
    color: $secondary;
    font-size: large;
    padding: 10px 40px;
    font-family: roboto-regular;
  }
}
//event index
.event-card{
  width: 20rem;
  text-align: left;
  cursor: pointer;
  transition: transform .2s;
  &:hover{
    transform: scale(1.1);
  }
  .card{
    border: 1px solid $primary;
    background-color: rgba(0,0,0,0.4);
    // background-color: rgba(255,255,255,0.1);
  }
  a{
    text-decoration: none;
    color: black;
  }
  .card-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    border-radius: 5px 5px 0 0;
    // width: 100%;
  }
  .card-body{
    height: 230px;
    // width: 100%;
  }
  .card-title{
    font-family: roboto-regular;
    // padding-bottom: 45px;
    // height: 60px;
    line-height: 1.3rem;
    height: 3rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.3rem;
    max-height: 2.6rem;
    text-overflow: ellipsis;
    width: 100%;
    color: $primary;
  }
  .card-text{
    font-family: roboto-light;
    color:white;
    font-size: 15px;
    &:first-of-type{
      padding-top: 10px;
    }
  }
}
.row{
  display: flex;
  justify-content: center;
}
.icon{
  width: 16px;
}

.no-container{
  margin-top: 10rem;
  font-family: roboto-regular;
  font-size: 1.5rem;
  color: $primary;
}

//Filters
.filters{
  padding-bottom: 20px;

  background-color: black;
  height: 90px;
  position: sticky;
  top: 56px;
  z-index: 1100;
  .filters-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 25px;
  }
  .filters-left{
    display: flex;
    // justify-content: ce;
  }
  .type-container, .date-container, .search-container, .tickets-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    font-family: roboto-regular;
    text-align: left;
    margin: 5px;
  }
  .tickets-container{
    flex-direction: row;
    align-items: center;
    label{
      margin-left: 5px;
    }
  }
  .filter-input{
    height: 30px;
    border-radius: 7px;
  }
  label{
    font-size: 0.85rem;
    width: 100%;
    color: $secondary;
    font-weight: bold;
  }
  .react-datepicker-wrapper{
    width: 200px;
  }
  @media (max-width: 767px) {
    .filters-container{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .type-container, .date-container, .search-container, .tickets-container{
      align-items: center;
      justify-content: center;
      margin: 3px;
      flex-direction: row;
      width: 100%;
    }
  }
}
//Single Page
.eventSingle{
  // background-image: url(‘https://media.istockphoto.com/photos/blue-defocused-blurred-motion-abstract-background-picture-id1010238190?b=1&k=20&m=1010238190&s=170667a&w=0&h=s7RNBDeGfW-BLfrSgZH2svnghqIbdIsXsChJEKxZf28=’);
  background-position: center;
  background-size: cover;
  color: $primary;
  h1{
    padding: 30px 5px;
    color: $primary;
  }
  .subhead{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 5px 40px 5px;
    h3{
      font-size: 1.3em;
      color: $secondary;
    }
  }
  h2{
    // text-decoration: underline;
    small{
      font-size: 0.5em;
      color: $secondary;
    }
  }
  button{
    width: 910px;
    color: white;
    background-color: $secondary;
    border: 1px solid $secondary
  }
  p{
    margin: 0;
    color: white;
  }
  .desc{
      font-style: italic;
  }
  .infoDiv{
    text-align: left;
    border-left: 1px solid $primary;
    padding-left: 20px;
    margin-top: 30px;
  }
  .imageBox{
    text-align: right;
  }
  .singleImage {
    border: 1px solid $primary;
    width: 300px;
    border-radius: 18px;
  }
  .mapBox{
    // display: flex;
    // height: 100%;
    // align-items: center;
    margin-bottom: 30px;
  }
  hr{
    border: 1px solid $primary;
  }
}

//Footer
footer{
  padding-bottom: 20px;
  p{
    color: white;
    text-align: right;
    font-size: small;
    font-family: roboto-light;
  }
}