.event-card{
  a{
    text-decoration: none;
    color: black;
  }
  .card-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
  }
}

// .icon-map::after{
//   content: "\e61c";
//   width: 10px;
// }